<%= form_for(link, html: {class: "form-horizontal"}) do |f| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2> Enter the url to be shortned: </h2>
    <%= f.text_field :original_url, class: 'inpput-large'%>
  </div><br>

  <div class="actions">
    <%= f.submit "Hit Me Up", :class => "btn btn-success" %><br>
  </div><br>
<% end %>
